!!!
%html{lang: "en"}
  %head
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "/js/bootstrap.min.js"}

    %link{rel: "stylesheet", href: "/css/bootstrap.css"}
  %body
    .container
      %h1 So you want to become a Gainesville Hackerspace member?
      %h2 Here's how to do it.
      %form.col-lg-6
        %input.form-control{type: "text", name: "first_name", placeholder: "First name"}
        %br
        %input.form-control{type: "text", name: "last_name", placeholder: "Last name"}
        %br
        %input.form-control{type: "text", name: "email", placeholder: "Email"}
        %br
        %input.form-control{type: "text", name: "address", placeholder: "Address"}
