!!!
%html{lang: "en"}
  %head
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "/js/bootstrap.min.js"}

    %link{rel: "stylesheet", href: "/css/bootstrap.css"}
    %link{rel: "stylesheet", href: "/css/myapp.css"}
  %body
    .container
      %h1.text-center So you want to become a Gainesville Hackerspace member?
      %h2.text-center Here's how to do it.
      %form.col-lg-6.center.form-horizontal.input-sm{role: "form"}
        .form-group
          %label.col-lg-4.control-label{for: "first_name"} First Name
          .col-lg-8
            %input.form-control{type: "text", name: "first_name", placeholder: "John"}
        .form-group
          %label.col-lg-4.control-label{for: "last_name"} Last Name
          .col-lg-8
            %input.form-control{type: "text", name: "last_name", placeholder: "Smith"}
        .form-group
          %label.col-lg-4.control-label{for: "phone"} Phone
          .col-lg-8
            %input.form-control{type: "text", name: "phone", placeholder: "555-867-5309"}
        .form-group
          %label.col-lg-4.control-label{for: "email"} Email
          .col-lg-8
            %input.form-control{type: "text", name: "email", placeholder: "l337haxor@skillhouse.org"}
        .form-group
          %label.col-lg-4.control-label{for: "address"} Address
          .col-lg-8
            %input.form-control{type: "text", name: "address", placeholder: "101 SE 2nd Pl, Ste 100 Gainesville, FL 32601"}
        .form-group
          %label.col-lg-4.control-label{for: "emergency_contact"} Emergency Contact
          .col-lg-8
            %input.form-control{type: "text", name: "emergency_contact", placeholder: "Jane Doe"}
        .form-group
          %label.col-lg-4.control-label{for: "emergency_contact_phone"} Emergency Contact Phone
          .col-lg-8
            %input.form-control{type: "text", name: "emergency_contact_phone", placeholder: "555-776-2323"}
        .form-group
          %label.col-lg-4.control-label{for: "relationship"} Relationship
          .col-lg-8
            %input.form-control{type: "text", name: "relationship", placeholder: "Mother"}
        .form-group
          %label.col-lg-4.control-label{for: "preferred_id"} Preferred ID
          .col-lg-8
            %input.form-control{type: "text", name: "preferred_id", placeholder: "jsmith"}
        .form-group
          %button.btn.btn-teal.btn-lg.btn-block{type: "text"} Submit
