.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.btn-teal {
  color: #fff;
  background-color: #36bcab;
  border-color: #29AF9E;
}
.btn-teal:hover,
.btn-teal:focus,
.btn-teal:active {
  color: #fff;
  background-color: #26A792;
  border-color: #1C8F6F;
